// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Braintree
.braintree-sheet__content--form {
  padding-left: 25px !important;
  text-align: left !important;
}

iframe {
  left: 0 !important;
  position: relative !important;
}

.braintree-form__flexible-fields {
  justify-content: left !important;
}

.braintree-form__field-group {
  flex-grow: 0 !important;
  margin-right: 1.5rem !important;
}
// End Braintree

.narrow-font {
    text-transform: uppercase;
    letter-spacing: 0;
    transform: scale(.9, 1);
    font-weight: 700;
} 

.form-control:focus {
    color: #212529;
    background-color: #F8FAFC;
    border-color: #FF5A5F;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff5a608c;
}
.form-check-input {
    background-color: white;
}
.form-check-input:focus {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ff5a608c;
}
.form-check-input:checked {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    outline: 0;
}
.button {
    padding: 8px 13px;
    font-size: 15px;
    text-decoration: none !important;
    border-radius: 10px !important;
}
.button_1 {
    cursor: pointer;
    color: white;
    background-color: #001533;
    border: 2px solid #001533;
    transition: all 0.2s linear;
  }
  
  .button_1:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      0px 0px 10px 5px rgba(255, 90, 95, 0.8);
    box-shadow: 0px 10px 13px -7px #000000,
      0px 0px 10px 5px rgba(255, 90, 95, 0.8);
  }
  
.button_2 {
    cursor: pointer;
    color: #FF5A5F;
    background-color: white;
    border: 2px solid #FF5A5F;

    transition: all 0.2s linear;
}
.button_2:hover {
    color: white;
    background-color: #ff5a5f;
}

.button_4 {
    cursor: pointer;
    color: #001533;
    background-color: white;
    border: 2px solid #001533;
    border-radius: 10px;
    transition: all 0.2s linear;
  }
  
  .button_4:hover {
    color: white;
    background-color: #001533;
  }

  

.auth {
.bg-format {
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    height:100vh;
    
}

.card {
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 20px;
}
}
.admin-form {
.input-70 {
    width: 70px
}
.input-150 {
    width: 150px
}
}
.sponsor-tag {
    position: absolute;
    top:10px;
    left:20px;
    background-color:#FF5A5F;
    color:white;
    border-radius: 5px;
    text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 1px;
}
.icone{
    right: 20px; 
    top:200px;
    font-size: 10px;
}
.accordion-item{
    border-radius: 20px;
    border-radius: 25px !important; 
}
.accordion-button{
    background-color: #ff999c;
    border-radius: 25px !important; 
}
.accordion-button:focus{
    background-color: #FF5A5F;
    box-shadow: 0 0 0 0.25rem #ff5a608c;
    color:white;
}
.accordion-button:not(.collapsed){
    background-color: #FF5A5F;
    box-shadow: 0 0 0 0.25rem #ff5a608c;
    color:white;
}

.button_special_1 {
    padding: 8px 13px;
    font-size: 15px;
    color: #001533;
    appearance: none;
    background-color: white;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ffaaac 0 -12px 6px inset;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: -0.24px;
    margin: 0;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button_special_1:hover {
background-color: #ff5a5f;
box-shadow: #ffaaac 0 -6px 8px inset;
transform: scale(1.125);
}
  
.button_special_1:active {
transform: scale(1.025);
}


@media only screen and (min-width: 600px) {
    .icone {
      font-size:13px;
      right:40px;
    }
}

footer {
    background-color:rgb(233, 233, 233);
   
}
  

  @media only screen and (max-width: 768px) {
    .accordion-button::after {
        margin-left: 50%;
    
    }
  }  
